{% extends 'base.html' %}

{% block title %}CHAMPSS Timing Monitor - Run Notes{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h3>
            Run Notes
        </h3>
        <hr>
        {% with notes=notes%}
            {% include 'components/runnotes.html' %}
        {% endwith %}
        {% if len(notes) == 0 %}
            <div style="text-align: center; color: #888; margin-top:25%; ">
                <h5>No notes available</h5>
                Add the first note by starting the Slackbot service and sending <code>@bot post [some notes]</code> to any channel.
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}